.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main-content {
  height: 88vh;
  
  background-color: rgb(18, 18, 18);
}

#left-navbar {
  height: 88vh;
  
  background-color: black;
}

#bottom-navbar {
  height: 12vh;
  background-color: rgb(24, 24, 24);
}

.scroller {
  height: 57vh;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple;
  scrollbar-width: thin;
}

.player-image {
  width: 70px;
  height: 70px;
}

.player-navbar {
  height: 100%;
}

#react-audio-player {
  width: 40vw;
}